body {
    background-color: black;


}

p {
    color:white 
    


} 

h1 { 
    color: white
    
} 

marquee { 
    color:white;
    font-size: 90px;
    
}  

.center {
    text-align: center; 

} 

.lateregistration { 
    border: solid 2px ;
    border-color: chocolate ; 
    height: 220px;
    width: 220px; 
    display:block; 
    margin-left: auto;
  margin-right: auto;
  width: 20%;
   
   
} 



.graduation { 
    border: solid 2px ;
    border-color: purple; 
    height: 220px;
    width: 220px; 
    text-align: center;
    display:block; 
    margin-left: auto;
  margin-right: auto;
  width:20%
 

} 

.cd { 
    border: solid 2px ; 
    border-color:brown ; 
    height: 220px;
    width: 220px; 
    display:block; 
    margin-left: auto;
  margin-right: auto;
  width: 20%;
   
}

.cd2 { 
    border: solid 2px; 
    border-color: brown ;
    font-family:cursive ; 
    text-align: center;

}
.lr2 {
    border: solid 2px ; 
    border-color: chocolate; 
    font-family: cursive;
    text-align: center; 
} 

.grd2 { 
    border: solid 2px ; 
    border-color: purple; 
    font-family: cursive; 
    text-align: center;
    
} 

.kanye { 
    border: solid 2px ;
    border-color: white; 
    height:300px; 
    width: 400x; 
    display:block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 20%
} 
.kanye2 { 
    border: solid 2px ; 
    border-color: white ; 
    font-family: cursive; 
    text-align: center; 
}


h6 { 
    color: white;
} 

h4 { 
    color: white ; 
} 
.drp { 
    color: white ; 
    font-family: cursive; 
    text-align: center;
} 

.name 
{ color: white ;
text-align:center 

} 


.tile { 
    color: white; 
    font-size: 90px ; 
    text-align: center;
}  

.hrt { 
    background-color: #c2cece ;
} 

.hrt2 {color:firebrick; 
font-size: 85px; 
text-align: center; } 

.hrt3 { border: solid 2px ; 
border-color: white ; 
height: 500px ;
width: 500px; 
display:block; 
margin-left: auto; 
margin-right: auto; 
} 

.hrt4 { 
    border: solid 2px; 
    border-color: white; 
    text-align: center; 
    font-family: cursive; 
    color: firebrick; 
    font-size: 25px;
} 

.link { 
font-size: 40px; 
color: white; 
text-align: center; 

} 
 
.mbd { 
    background-color: red; 
} 

.link2 { 
    font-size: 40px; 
    color: firebrick;
    text-align: center; 
} 

.mbd { 
color: gold;  
font-size: 85px; 
text-align: center;

} 

.mbd2{ 
    border: solid 2px; 
    border-color: gold; 
    height: 500px; 
    width: 500px ;
    display: block; 
    margin-left: auto; 
    margin-right: auto;

} 

.mbdtext { 


border: solid 2px; 
border-color:gold; 
text-align: center; 
font-family: cursive; 
color: gold; 
font-size: 25px;
} 

.mbheading { 
text-align: center; 
font-family: cursive; 
color:gold; 
font-size: 10px; 
} 

h2 { 

    color:white ;
    text-align: center; 

    
} 

.cldlink 
{ 
color: orange ;
font-family: cursive; 
font-size: 25px; 
text-align: center;

} 

.hrtblink { 
color: #c2cece; 
font-size: 25px ; 
text-align: center;


} 

.mbdtflink { 
color: red; 
font-size: 25px; 
text-align: center; 


}

.yeezustitle  
{ 
font-size: 85px; 
color: white; 
text-align: center; 


} 

.yeezuspage { 

    background-color: #c2cece;
} 

.mbdlinks { 
    color: gold; 
    text-align: center; 
    font-size: 25px; 
} 

.yeezuslink { 
    color: white; 
    font-size: 25px;
} 

.yeezuspic { 
border: solid 2px; 
border-color: white; 
height: 500px; 
width: 500px; 
display: block; 
margin-left: auto; 
margin-right: auto; 

} 

.yeezustext { 
    border: solid 2px; 
    border-color:white;  
    text-align: center; 
    font-family: cursive; 
    color: white; 
    font-size: 25px;

}

.tloplink { 
color:orange ;
font-family: cursive; 
font-size: 25px;}

